<div *ngIf="userIsAuthenticated">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-accordion multi="true" *ngIf="experienceList.length > 0 && !isLoading">
    <mat-expansion-panel *ngFor="let experience of experienceList">
      <mat-expansion-panel-header>
        {{ experience.jobTitle }}
      </mat-expansion-panel-header>
      <p>Company: {{ experience.companyName }}</p>
      <p>Start Date: {{ experience.jobStartDate.substring(5, 7) }}/{{ experience.jobStartDate.substring(0, 4) }}</p>
      <p>End Date: {{ experience.jobEndDate.substring(5, 7) }}/{{ experience.jobEndDate.substring(0, 4) }}</p>
      <p>About: {{ experience.description }}</p>
      <mat-action-row>
        <a mat-button
          color="white"
          [routerLink]="['/edit/experience', experience.id]">
          Edit</a>
        <button mat-button
          color="warn"
          (click)="onDelete(experience.id)">
          Delete
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<a
  class="bottom-button"
  *ngIf="!isLoading && userIsAuthenticated"
  mat-button
  color="white"
  [routerLink]="['/create/experience']"
  >Add Experience</a
>
<p></p>
<a
  class="bottom-link"
  *ngIf="hasMajor('Computer Science') && !isLoading && userIsAuthenticated"
  mat-list-item
  [routerLink]="'/clubs'"
  >Need some experience?</a
>
