<a mat-list-item [routerLink]="'/clubs'">Available Clubs For CS</a>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion
  multi="true"
  *ngIf="experienceList.length > 0 && !isLoading && userIsAuthenticated"
>
  <mat-expansion-panel *ngFor="let experience of experienceList">
    <mat-expansion-panel-header>
      {{ experience.jobTitle }}
    </mat-expansion-panel-header>
    <p>Company: {{ experience.companyName }}</p>
    <p>
      Start Date: {{ experience.jobStartDate.substring(5, 7) }}/{{
        experience.jobStartDate.substring(0, 4)
      }}
    </p>
    <p>
      End Date: {{ experience.jobEndDate.substring(5, 7) }}/{{
        experience.jobEndDate.substring(0, 4)
      }}
    </p>
    <p>About: {{ experience.description }}</p>
    <mat-action-row>
      <a
        mat-button
        color="primary"
        [routerLink]="['/edit/experience', experience.id]"
        >Edit</a
      >
      <button mat-button color="warn" (click)="onDelete(experience.id)">
        Delete
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<a mat-button color="primary" [routerLink]="['/create/experience']"
  >Add Experience</a
>
