<div class="contact-info-list-container">
  <div *ngIf="contactInfo!=null">
    <p>First Name: {{ contactInfo?.firstName}}</p>
    <p>Last Name: {{ contactInfo?.lastName }}</p>
    <p>Home Address: {{ contactInfo?.homeAddress }}</p>
    <p>Phone Number: {{ contactInfo?.phoneNumber }}</p>
    <p>Email Address: {{ contactInfo?.emailAddress }}</p>
    <p>Social Media Link: {{ contactInfo?.socialMediaLink }}</p>
    <a mat-button color="primary" [routerLink]="['/edit/contact/', contactInfo._id]">Edit</a>
  </div>
  <div>
    <button mat-button color="primary" [routerLink]="['/createContact']">Add</button>
  </div>
</div>
