.contact-info-list-container {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
.contact-info-list-container > * {
  width: 100%;
}

.contact-info-list-container mat-card {
  margin-top: 1rem;
  margin: auto;
}

.contact-info-list-container mat-card mat-action-row {
  margin-top: 0px;
  display: block;
  margin: auto;
}
