:host {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.contact-info-list-container > * {
  width: 100%;
}

.contact-info-list-container mat-card {
  margin-top: 1rem;
  margin: auto;
}

.contact-info-list-container mat-card mat-action-row {
  margin-top: 0px;
  display: block;
  margin: auto;
}

.contact-info-list-container a {
  margin-left: 48%;
}
