<div *ngIf='userIsAuthenticated && contactInfo'>
  <mat-card>
    <p>First Name: {{ contactInfo?.firstName}}</p>
    <p>Last Name: {{ contactInfo?.lastName }}</p>
    <p>Home Address: {{ contactInfo?.homeAddress }}</p>
    <p>Phone Number: {{ contactInfo?.phoneNumber }}</p>
    <p>Email Address: {{ contactInfo?.emailAddress }}</p>
    <p>Social Media Link: {{ contactInfo?.socialMediaLink }}</p>
    <mat-action-row>
      <a *ngIf='contactInfo'
        mat-button color="primary"
        [routerLink]="['/edit/contact/', contactInfo.id]">
        Edit</a>
    </mat-action-row>
  </mat-card>
</div>
<a *ngIf='!contactInfo' mat-button color="primary" [routerLink]="['/create/contact']">Add Contact Information</a>
