<app-header></app-header>
<main>
    <app-contact-info-create></app-contact-info-create>
    <app-objective-create></app-objective-create>
    <app-education-create></app-education-create>
    <app-education-list></app-education-list>
    <app-experience-create></app-experience-create>
    <app-experience-list></app-experience-list>
    <app-skill-create></app-skill-create>
    <app-skill-list></app-skill-list>
    <app-project-create></app-project-create>
    <app-project-list></app-project-list>
    <app-award-create></app-award-create>
    <app-award-list></app-award-list>
</main>

