<div class="experience-container">
  <form
    (submit)="onSaveExperience(experienceForm)"
    #experienceForm="ngForm"
    *ngIf="!isLoading">
    <mat-card>
      <mat-card-title>Experience</mat-card-title>
      <mat-form-field>
        <mat-label>Company Name</mat-label>
        <input
          matInput
          name="companyName"
          placeholder="Google"
          [ngModel]="experience?.companyName"
          required
          #companyName="ngModel"/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Job Title</mat-label>
        <input matInput
          name="jobTitle"
          placeholder="Code Monkey"
          [ngModel]="experience?.jobTitle"
          required
          #jobTitle="ngModel"/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Start Date</mat-label>
        <input matInput
          name="jobStartDate"
          [matDatepicker]="picker1"
          placeholder="Start Date"
          [ngModel]="experience?.jobStartDate"
          required
          #jobStartDate="ngModel"/>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>End Date</mat-label>
        <input matInput
          name="jobEndDate"
          [matDatepicker]="picker2"
          placeholder="End Date"
          [ngModel]="experience?.jobEndDate"
          required
          #jobEndDate="ngModel"/>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description of your duties/accomplishments..</mat-label>
        <textarea matInput
          name="description"
          placeholder="Deployed MEAN stack project on AWS."
          [ngModel]="experience?.description"
          #description="ngModel">
        </textarea>
      </mat-form-field>
      <mat-card-actions>
        <button mat-button
          color="white"
          type="submit">Save</button>
          <a mat-button
            color="warn"
            [routerLink]="['/experience']">
            Cancel
          </a>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
