<div class="project-container">
  <mat-card>
    <mat-card-title>Projects</mat-card-title>
    <mat-form-field>
      <input matInput placeholder="Project Title" required [(ngModel)]="enteredTitle">
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="picker1" placeholder="Start Date" required [(ngModel)]="enteredStartDate">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="picker2" placeholder="End Date" required [(ngModel)]="enteredEndDate">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Enter your description here..." [(ngModel)]="enteredDescription"></textarea>
    </mat-form-field>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onAddProject()">Save</button>
    </mat-card-actions>
  </mat-card>
</div>
