ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}
ul {
  display: flex;
}
.spacer {
  flex: 1 1 auto;
}
.mat-toolbar{
  background-color: #1e4d2b;
}

button {
  height: 100%;
  width: 20%;
}
