ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}
ul {
  display: flex;
}
.spacer {
  flex: 1 1 auto;
}
.mat-toolbar {
  background-color: rgb(52, 53, 53);
  border-style: solid;
  border-bottom-color: grey;
  border-right-color: rgb(52, 53, 53);
  border-left-color: rgb(52, 53, 53);
  border-top-color: rgb(52, 53, 53);
  border-width: 1px;
  height: 80px;
}

button {
  height: 100%;
  width: 20%;
}
