<mat-accordion multi="true" *ngIf="awardList.length > 0">
    <mat-expansion-panel *ngFor="let award of awardList">
      <mat-expansion-panel-header>
        {{ award.title }}
      </mat-expansion-panel-header>
      <p>{{ award.date }}</p>
      <p>{{ award.description }}</p>
      <mat-action-row>
        <button mat-button color="primary">Edit</button>
        <button mat-button color="warn" (click) = "onDelete(award.id)">Delete</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <p class="info text mat-body-1" *ngIf="awardList.length <= 0">Add Awards</p>
