.contact-info-container {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
.contact-info-container > * {
  width: 100%;
}

.contact-info-containermat-card {
  margin-top: 16px;
  margin: auto;
  width: 15%;
}

.contact-info-container mat-card mat-form-field {
  width: 100%;
  height: 1;
}

.contact-info-container mat-spinner {
  margin: auto;
}


