mat-form-field {
  display: block;
  margin: auto;
  width: 90%;
}

mat-card {
  width: 60%;
  max-width: 400px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: rgb(52, 53, 53);
  border-style: solid;
  border-width: 1px;
  border-color: grey;
}

:host {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  text-align: center;
}

.signup {
  margin: 0;
  background-image: url("../blackhole.gif");
  position: relative;
  background-position: center center;
}

button {
  background-color: rgb(24, 24, 24);
  color: white;
}

mat-label {
  color: white;
}
