.objective-statement-container {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
.objective-statement-container > * {
  width: 100%;
}

.objective-statement-container mat-card {
  margin-top: 1rem;
  margin: auto;
}

.objective-statement-container mat-card mat-action-row {
  margin-top: 0px;
  display: block;
  margin: auto;
}
