<div class="skill-container">
  <form (submit)="onAddSkill(skillForm)" #skillForm="ngForm">
    <mat-card>
      <mat-card-title>Skills</mat-card-title>
      <mat-form-field>
        <input
          matInput
          name="description"
          placeholder="New skill"
          ngModel
          required
          #description="ngModel"
        />
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Save</button>
        <a mat-button color="warn" [routerLink]="['/skills']">Cancel</a>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
<div style="text-align: center;">
  <button mat-raised-button color="primary" (click)="onAddSkillCS1400()">
    CS 1400
  </button>

  <button mat-raised-button color="primary" (click)="onAddSkillCS2400()">
    CS 2400
  </button>

  <button mat-raised-button color="primary" (click)="onAddSkillCS2450()">
    CS 2450
  </button>

  <button mat-raised-button color="primary" (click)="onAddSkillCS2520()">
    CS 2520
  </button>

  <button mat-raised-button color="primary" (click)="onAddSkillCS2560()">
    CS 2560
  </button>

  <button mat-raised-button color="primary" (click)="onAddSkillCS3310()">
    CS 3310
  </button>

  <button mat-raised-button color="primary" (click)="onAddSkillCS3560()">
    CS 3560
  </button>

  <button mat-raised-button color="primary" (click)="onAddSkillCS4800()">
    CS 4800
  </button>

  <button mat-raised-button color="primary" (click)="onAddSkillCS4200()">
    CS 4200
  </button>

  <button mat-raised-button color="primary" (click)="onAddSkillCS4350()">
    CS 4350
  </button>

  <button mat-raised-button color="primary" (click)="onAddSkillCS4700()">
    CS 4700
  </button>
</div>
