<div class="objective-statement-container">
  <form (submit)="onAddObjectiveStatement(objectiveStatementForm)" #objectiveStatementForm="ngForm">
      <mat-card>
          <mat-card-title>Objective Statement</mat-card-title>
          <mat-form-field>
            <textarea
              matInput
              name="statement"
              placeholder="I am pursuing a career at this location for this purpose..."
              ngModel
              required
              #statement="ngModel"></textarea>
          </mat-form-field>
          <mat-card-actions>
              <button
                mat-raised-button
                color="primary"
                type="submit">Save</button>
          </mat-card-actions>
        </mat-card>
  </form>
  <p>Objective Statement: {{ objectiveStatement?.statement }}</p>
</div>

