<div class="objective-statement-container">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSaveObjectiveStatement(objectiveStatementForm)"
    #objectiveStatementForm="ngForm">
    <mat-card>
      <mat-card-title>Objective Statement</mat-card-title>
      <mat-form-field>
        <mat-label>"I am pursuing..."</mat-label>
        <textarea
          matInput
          name="statement"
          [ngModel]="objective?.statement"
          required
          #statement="ngModel"
        ></textarea>
      </mat-form-field>
      <mat-card-actions>
        <button mat-button
        color="white"
        type="submit">Save</button>
        <a mat-button
        color="warn"
        [routerLink]="['/objective']">Cancel</a>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
