.info-text {
  text-align: center;
}

mat-spinner {
  margin: auto;
}

a {
  margin: auto;
  background-color: black;
}

mat-accordion mat-expansion-panel {
  width: 80%;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: rgb(52, 53, 53);
  border-style: solid;
  border-width: 1px;
  border-color: grey;
}
