<main>
  <app-header></app-header>
  <mat-sidenav-container>
    <mat-sidenav opened mode="side" #sidenav *ngIf="userIsAuth">
      <mat-nav-list>
        <a mat-list-item
          [routerLink]="'/contact'"
          routerLinkActive="mat-accent">
          <li>Contact Info</li>
        </a>
        <a mat-list-item
          [routerLink]="'/objective'"
          routerLinkActive="['is-active']">
          <li>Objective</li>
        </a>
        <a mat-list-item
          [routerLink]="'/education'"
          routerLinkActive="['is-active']">
        <li>Education</li>
        </a>
        <a mat-list-item
          [routerLink]="'/skills'"
          routerLinkActive="['is-active']">
          <li>Skills</li>
        </a>
        <a mat-list-item
          [routerLink]="'/experience'"
          routerLinkActive="['is-active']">
          <li>Experience</li></a>
        <a mat-list-item
          [routerLink]="'/projects'"
          routerLinkActive="['is-active']">
          <li>Projects</li></a>
        <a mat-list-item
          [routerLink]="'/awards'"
          routerLinkActive="['is-active']"
          ><li>Awards</li>
        </a>
        <a mat-list-item
          [routerLink]="'/resume'"
          routerLinkActive="['is-active']">
          <li>Review</li>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 87vh;">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
