main {
  width: 100%;
}

mat-sidenav-content {
  width: auto;
  margin: 1rem auto;
  padding: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

mat-sidenav {
  text-align: left;
  margin: auto;
}

mat-sidenav-container {
  background-color: black;
}
