main {
  width: 100%;
  margin: 1rem auto;
  padding: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

mat-sidenav-content {
  width: 100%;
  margin: 1rem auto;
  padding: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

mat-sidenav {
  text-align: left;
  margin: auto;
}

:host {
  margin-top: 3rem;
}
