<div class="education-container">
  <form (submit)="onAddEducation(educationForm)" #educationForm="ngForm">
      <mat-card>
          <mat-card-title>Education</mat-card-title>
          <mat-form-field>
            <input 
              matInput 
              name="schoolName"
              placeholder="School Name" 
              ngModel
              required
              #schoolName="ngModel">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Degree Type</mat-label>
            <select 
              matNativeControl 
              name="degreeType"
              ngModel
              required
              #degreeType="ngModel">
              <option value="none">Non-degree seeking</option>
              <option value="B.A.">B.A.</option>
              <option value="B.S.">B.S.</option>
              <option value="A.A.">A.A.</option>
              <option value="A.S.">A.S.</option>
              <option value="A.A.S.">A.A.S.</option>
            </select>
          </mat-form-field>
          <mat-form-field>
            <input 
              matInput 
              name="major"
              placeholder="Major" 
              ngModel
              required
              #major="ngModel">
          </mat-form-field>
          <mat-form-field>
            <input 
              matInput 
              name="GPA"
              placeholder="GPA out of 4.0" 
              ngModel
              #GPA="ngModel">
          </mat-form-field>
          <mat-form-field>
            <input 
              matInput 
              name="schoolStartDate"
              [matDatepicker]="picker1" 
              placeholder="Start Date" 
              ngModel
              required 
              #schoolStartDate="ngModel">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input 
              matInput 
              name="schoolEndDate"
              [matDatepicker]="picker2" 
              ngModel
              placeholder="End Date" 
              #schoolEndDate="ngModel">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
          <mat-card-actions>
            <button 
              mat-raised-button 
              color="primary" 
              type="submit">Save</button>
          </mat-card-actions>
        </mat-card>
  </form>
</div>
