.project-container mat-card {
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
  background-color: rgb(52, 53, 53);
  border-style: solid;
  border-width: 1px;
  border-color: grey;
}

.project-container mat-form-field {
  display: block;
  margin: auto;
  width: 90%;
}

.project-container mat-spinner {
  margin: auto;
}

mat-label {
  color: white;
}

button {
  margin: auto;
  background-color: rgb(24, 24, 24);
}
