<div class="resume-info-container">
  <mat-card-title>Contact Information</mat-card-title>
  <app-contact-info-list></app-contact-info-list>
  <p></p>
  <mat-card-title>Objective</mat-card-title>
  <app-objective-list></app-objective-list>
  <p></p>
  <mat-card-title>Education</mat-card-title>
  <app-education-list></app-education-list>
  <p></p>
  <mat-card-title>Experience</mat-card-title>
  <app-experience-list></app-experience-list>
  <p></p>
  <mat-card-title>Skills</mat-card-title>
  <app-skill-list></app-skill-list>
  <p></p>
  <mat-card-title>Projects</mat-card-title>
  <app-project-list></app-project-list>
  <p></p>
  <mat-card-title>Awards</mat-card-title>
  <app-award-list></app-award-list>
  <button mat-button (click)="download()">Create Resume</button>
</div>
