mat-card-title {
  font-size: 32px;
}
button {
  display: block;
  max-width: 300px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 5px 20px;
  color: white;
  background-color: rgb(140, 45, 143);
}
button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

:host {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

mat-card-title {
  margin-left: 10%;
  margin-bottom: 25px;
  color: white;
}
